<div class="container-fluid">
    <center>
        <div class="row">
            <img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Burger">
            <div class="jumbotron">
                <h1>Eat-Da-Burger!</h1>
    </center>
</div>