<div class="container-fluid">
    <center>
        <img src="/assets/img/burger.png" class="img-fluid" alt="burger">
        <div class="jumbotron">
            <h1>Eat-Da-Burger!</h1>
        </div>
    </center>
</div>